In [33]:
import numpy as np
import pandas as pd
from sklearn import datasets
data,target = datasets.load_iris(return_X_y=True)

NameError: name 'y' is not defined

In [34]:
data=pd.read_csv(r'C:\Users\Jeff Smith\PycharmProjects\data-science-machine-learning-master\FEDFUNDS.csv',delim_whitespace=True)

In [35]:
data.head()

   DATE,FEDFUNDS
0  1/1/1986,8.14
1  2/1/1986,7.86
2  3/1/1986,7.48
3  4/1/1986,6.99
4  5/1/1986,6.85

In [4]:
#dataset_2=pd.read_csv(r'C:\Users\Jeff Smith\PycharmProjects\data-science-machine-learning-master\UNM.csv')

In [5]:
#dataset_2.head()

         Date     Open     High      Low    Close  Adj Close    Volume
0  1986-11-06  7.06250  7.15625  6.87500  7.00000   3.282309  17902800
1  1986-11-07  7.00000  7.00000  6.84375  6.96875   3.267654   6288000
2  1986-11-10  6.90625  6.90625  6.75000  6.78125   3.179736   3060000
3  1986-11-11  6.78125  6.87500  6.78125  6.87500   3.223696   1130000
4  1986-11-12  6.87500  6.93750  6.81250  6.87500   3.223696   2082800

In [32]:
#I am struck trying
X = data.data
y = data.target

AttributeError: 'DataFrame' object has no attribute 'data'